<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client List</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/client}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/reservation}">Reservation</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>

        </div>
    </div>
</nav>

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Product</title>
</head>
<body class="row">
<div class="col-md-3"></div>
<form method="post" th:object="${reservations}" th:action="@{/create}" class="col-md-5 mt-4">
    <h2>Ajouter Reservation</h2>
    <label for="name">Date:</label>
    <input type="date" class="form-control" id="name" name="name" th:field="*{dateRes}" required>
    <br>
    <label for="heureRes">Heure :</label>
    <input type="time"  class="form-control" id="heureRes" name="heureRes" th:field="*{heureRes}" required>
    <br>
    <label for="np">nombre de place :</label>
    <input type="number"  class="form-control" id="np" name="nombrepersonne" th:field="*{nombrepersonne}" required>
    <br>
    <label for="client">Client :</label>
    <select  class="form-control" id="client" name="client.id" th:field="*{client.id}">

        <option th:each="client : ${clients}" th:value="${client.id}" th:text="${client.noms}"></option>
    </select>
    <br>
    <label for="tables">type table : </label>
    <label>Couple(2 places) mixte(5 places) reunion et anniversaire(20 places) famille(10 places)</label>
    <select  class="form-control" id="tables" name="table.idTab" th:field="*{tables.idTab}">

        <option th:each="table : ${tables}" th:value="${table.idTab}" th:text="${table.typeTab}"></option>
    </select>
    <br>
    <label for="client">Receptionniste :</label>
    <select  class="form-control" id="receptionniste" name="recep.idRec" th:field="*{receptionniste.idRec}">

        <option th:each="recep : ${receptionnistes}" th:value="${recep.idRec}" th:text="${recep.nomRec}"></option>
    </select>
    <br>
    <button class="btn btn-success" type="submit">enregistrer</button>
</form>
</body>
</html>



</body>
</html>
